#about {
    font-family: "League Spartan", sans-serif;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

main {
  padding: 5rem;
  padding-top: 0rem; 
}

body {
    padding-top: 10px;
  }

.top {
    margin-top: 0px;
}

.header {
    font-size: 50px;
    text-align: center;
    color: #6483AF;
}

.Timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gcses,
.aLevels,
.uNi,
.sainsburys,
.lloyds,
.limitless,
.capable {
    width: 750px;
    max-width: 100%;
    height: 100px;
    background-color: #6483AF;
    border-radius: 50px;
    margin-top: 50px;
    box-shadow: 0 4px 3px rgba(58, 57, 57, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

.gcses, .aLevels, .uNi {
    text-align: center;
}

.aLevels {
    margin: 10px auto;
    margin-top: 150px;
}

.uNi {
    align-self: flex-end;
    margin-right: 0;
    margin-top: 150px;
}

.details {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.schoolGrade {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}

.year {
    text-align: end;
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: bold;
}

.sainsburys {
    width: 100%;
    margin-top: 50px;
    background-color: #6a3541;
    color: #f47322;
}

.lloyds {
    width: 30%;
    margin-left: 40%;
    margin-top: 50px;
    background-color: #00a99e;
    color: white;
}   

.limitless {
    width: 38%;
    margin-left: 62%;
    margin-top: 50px;
    background-color: #071031;
    color: #64d3e5;
}

.capable {
    width: 25%;
    margin-left: 70%;
    margin-top: 50px;
    background-color: #2120c4;
    color: white;
}

.workDes {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}

.box {
    height: 120px;
}

.moreInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #F5EDE6;
}

.grid-item {
    padding: 20px;
    border-radius: 10px;
    color: #6483AF;
    text-align: center;
    font-size: 26px;
    text-align: start;
    font-weight:350;
    letter-spacing: 1;
    line-height: 1;

}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}