.swiper {
    width: 80%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide:focus {
    outline: none;
}

.swiper-slide-active {
    border: none;
    box-shadow: none;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 4px 3px rgba(58, 57, 57, 0.2);

}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide:focus,
.swiper-slide:active {
    outline: none;
    box-shadow: none;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-pagination {
    display: none;
  }

.box {
    height: 300px;
}