#header {
  font-family: 'Dosis', sans-serif;
}

header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: sticky;
  top: 10px;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 7px;
  margin: 0;
  background-color: transparent;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

header nav ul li:first-child {
  margin-left: 1rem;
}

header nav ul li:last-child {
  margin-right: 1rem;
}

header.scrolled nav ul {
  background-color: rgba(100, 131, 175, 0.5);
  border-radius: 50px;
  padding: 7px;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

header nav ul li a:hover {
  border-radius: 50%;
  cursor: pointer;
}

header nav ul li a.active {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50px;
}

#icons {
  border-radius: 50%;
  width: 150px;
  border: 1px solid black;
  box-shadow: 2px 4px 5px #000;
  margin-top: 25px;
}

.formSection {
  position: fixed;
}

#profile {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #6483AF;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.contactForm.show {
  visibility: visible;
  animation: slideInFromBottom 0.3s ease-out forwards;
}

.contactForm.hide {
  animation: slideOutToBottom 0.3s ease-out forwards;
  visibility: hidden;
  opacity: 0;
}
.contactForm {
  position: fixed;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  bottom: 50px;
  right: 20px;
  background-color: rgb(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.849);
  box-shadow: 0px 3px 5px lightgray;
  min-height: 550px;
  min-width: 360px;
  z-index: 10;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  border-radius: 20px;
}

.contactForm.visible {
  opacity: 1;
  visibility: visible;
}


.contactForm form {
  display: flex;
  flex-direction: column;
}

.contactForm form input,
.contactForm form textarea {
  font-family: 'Dosis', sans-serif;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 3px rgba(58, 57, 57, 0.2);
}

.primaryBtn {
  background-color: rgb(0, 190, 127);
  color: white;
  padding: 10px 30px;
  margin: 10px;
  font-weight: bold;
  border-radius: 30px;
  width: 100px;
  border: none;
  box-shadow: 0px 2px 3px rgb(48, 47, 47);
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
}

.primaryBtn:hover {
  background: rgb(2, 158, 124)
}

.secondaryBtn {
  width: 35px;
  height: 35px;
  border-radius: 50% 50%;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.subject {
  resize: none;
  height: 27px
}

textarea.message {
  resize: none;
  height: 250px;
  font-size: 10px;
}