.nameTitle {
    font-size: 75px;
    text-align: center;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    background-color: grey;
}

.profile {
    background-color: red;
}

#main {
    width: 350px;
}

.overviewContainer {
    background-color: blue;
    width: 750px;
}