#home {
    font-family: "League Spartan", sans-serif;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 75px;
    box-sizing: border-box;
}


.nameTitle {
    font-size: 75px;
    text-align: center;
}

.aboutContainer {
    display: flex;
    justify-content: center;
}

.profile {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    position: relative;
    width: 375px;

}

#main {
    width: 375px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 4px 3px rgba(58, 57, 57, 0.5);
    border-color: black;
}

/* #spotify {
    background-color: red;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 375px;
    border-color: black 2px;
  } */

.overviewContainer {
    font-weight: bold;
    font-size: 28px;
    width: 750px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

