#Project {
    font-family: "League Spartan", sans-serif;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 80%;
    height: 75vh;
    margin: 0 auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img,
.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background: #000;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background: #6483AF;
    width: 16px;
    height: 16px;
}

.swiper-pagination {
    bottom: 20px;
}

.swiper-pagination-bullet {
    border-radius: 50%;
    transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.overlay-button {
    position: absolute;
    font-family: "League Spartan", sans-serif;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(100, 131, 175, 0.7);
    box-shadow: 0 4px 3px rgba(58, 57, 57, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.overlay-button:hover {
    background-color: rgba(100, 131, 175, 0.9);
    box-shadow: 0 4px 3px rgba(58, 57, 57, 0.7);

}

.projectInfo {
    padding: 50px;
    max-width: 50%;
    margin: 0 auto;
}

.projectDes {
    padding-top: 20px;
    color: #6483AF;
    font-size: 27px;
    text-align: start;
    width: 750px;
    line-height: 1.3;
}