#Project {
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eccb8e;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 75%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img,
.swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
}
