#skills {
    font-family: 'Dosis', sans-serif;
}

.header {
    font-size: 50px;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}