html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: rgb(255,249,237);
background: linear-gradient(180deg, rgba(255,249,237,1) 0%, rgba(255,240,212,1) 50%, rgba(255,249,237,1) 100%);
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

html {
  scroll-behavior: smooth;
}