body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    text-align: center;
}
.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-menu ul li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu a:active {
    color: grey;
}

.nav a {
    text-decoration: none;
    color: darkcyan;
}

.links {
    justify-content: space-evenly;
    display: flex;
    text-align: center;
    font-size: 12px;
}


.line-separator {
    margin: 10px 0;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    height: 2px;
    background-color: black;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
}

.pictures {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pictures > img {
    width: 48%;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.pictures >img:hover {
    transform: scale(1.1);
}

.description {
    font-family: 'Raleway';
    margin-left: 100px;
    max-width: 500px;
}

.name {
    font-size: 50px;
}

.text {
    color: black;
}


footer {
    background-color: darkcyan;
    color: black;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
}
